@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

:root {
  --bg-color: #c8102e;
}

* {
  font-family: "Gamja Flower", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  margin-bottom: 1rem;
}

.title {
  color: #fcbb25;
  font-size: 4rem;
  text-align: center;
}

.subtitle {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.canvas {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid-square {
  border: 1px solid #d2b48c;
}

.options {
  background-color: #d2b48c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
  border: 0.25rem solid #8b5e3c;
  border-radius: 1rem;
}

.btn-row {
  display: flex;
  gap: 1rem;
}

.btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
  padding: 1rem;
  background: transparent;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  cursor: pointer;
}

.pen-btn:hover,
.rainbow-btn:hover,
.eraser-btn:hover,
.reset-btn:hover {
  color: #654321;
}

/* .pen-btn:hover {
  color: #333;
} */

.rainbow-btn:hover {
  background: linear-gradient(
    90deg,
    #ff0057,
    #ff7b00,
    #ffee00,
    #00ff85,
    #00cfff,
    #9000ff,
    #ff00c8
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.color-picker {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.color-picker-text {
  color: #fff;
  font-size: 1.5rem;
}

.slider-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.slider {
  cursor: pointer;
}

.slider-row .slider-value {
  color: #fff;
  font-size: 1.5rem;
}
